.chat {
    background-color:darkgray;
    height: 100vh;
}

.chatContainer {
    display: flex;
    width: 800px;
    height: 100vh;
    padding-bottom: 55px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column-reverse;
    overflow: auto;
    background-color: skyblue;
}