@keyframes onLoad {
    from {
      scale: 90%;
    }
  
    to {
      scale: 100%;
    }
  }

.message {
    margin-bottom: 6px;
    display: flex;
    animation-duration: 0.2s;
    animation-name: onLoad;
    width: fit-content;
    max-width: 750px;
    padding-left: 5px 0px;
}

.picture {
    float: left;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.text {
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: larger;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    min-height: 45px;
}

.right {
    margin-left: auto;
    flex-direction: row-reverse;
}

.left {
    margin-right: auto;
}