.message {
    margin-bottom: 6px;
    display: flex;
    padding: 5px;
    width: fit-content;
    max-width: 750px;
    border-radius: 25px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.picture {
    float: left;
    max-width: 42px;
    max-height: 42px;
    border-radius: 50%;
}

.text {
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: medium;
}

.right {
    background-color:yellow;
    margin-left: auto;
    flex-direction: row-reverse;
}

.left {
    background-color:blue;
    margin-right: auto;
}